$dark-900: #131314;
$dark-800: #1A1A1C;
$dark-700: #1B1B1B;
$dark-600: #232426;
$dark-500: #313335;
$dark-400: #383B3D;
$dark-300: #5B5D61;

$primary-100: #A8C7FA;
$primary-200: #004A77;

$gray: #C4C7C5;
$white: #E3E3E3;
$text-black: #1A1A1A;
$red: #B9443C;
$green: #76AC3D;
$orange: #DC924E;

$header-height: 60px;